@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

h1 {
  color: rgb(0, 0, 0);
  text-align: auto;
  font-size: 1.1em;
  padding-top: 35px;
}

h2 {
  font-size: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: silver;
  position: fixed;
  top: 0;
  width: 80%;
  max-height: 200px;
  z-index: 1000;
  margin: 0 auto;
}

.logo {
  max-height: 250px;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 1000;
  padding-right: 10%;
}

.social-icons img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

body {
  padding-top: 250px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 200px;
  width: 80%;
  background-color: lightgrey;
  font-size: 1.2rem;
}

.container {
  background-color: silver;
  border-radius: 10px;
  border-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.4em;
}

.carousel-container {
  display: block; /* Mantém o layout do carrossel */
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-width: 100%; /* Ajusta a largura do carrossel */
  overflow: hidden; /* Garante que o conteúdo do carrossel não "vaze" */
}

.carousel-container img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  align-items: auto;
  margin: 30px;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.carousel-container img:hover {
  transform: scale(2);
}

.container h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.slick-prev::before,
.slick-next::before {
  color: black;
}

.slick-prev {
  left: -10px; /* Ajuste a posição horizontal da seta anterior */
}

.slick-next {
  right: -10px; /* Ajuste a posição horizontal da seta próxima */
}

.legend {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

footer {
  font-size: 0.8em;
  background-color: rgb(25, 25, 25);
  color: white;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
  left: 0;
  width: 100%;
}

.map-container {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  background-color: gray;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 1024px) {
  h1,
  h2 {
    font-size: 80%;
  }

  header {
    max-height: 100px;
  }

  .logo {
    max-height: 150px;
  }

  .social-icons img {
    width: 30px;
    height: 30px;
  }

  body {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .carousel-container {
    max-width: 800px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
  }

  .carousel-container img {
    width: 80px;
    height: 60px;
  }
}

.legend {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

footer {
  font-size: 0.8em;
  background-color: rgb(25, 25, 25);
  color: white;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
  left: 0;
  width: 100%;
}

.map-container {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: gray;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 600px) {
  header {
    padding: 5px 10px;
    max-height: 100px;
  }

  .logo {
    max-height: 100px;
  }

  .social-icons img {
    width: 30px;
    height: 30px;
  }

  body {
    padding-left: 5%;
    padding-right: 5%;
  }

  .carousel-container {
    max-width: 600px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
  }

  .carousel-container img {
    width: 80px;
    height: 60px;
  }

  .legend {
    text-align: center;
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
  }

  footer {
    font-size: 0.8em;
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    left: 0;
    width: 100%;
  }

  .map-container {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: gray;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
